# Auto detect text files and perform LF normalization
* text=auto
# more info about struct.unpack : https://docs.python.org/3/library/struct.html
# IP header: https://networklessons.com/cisco/ccna-routing-switching-icnd1-100-105/ipv4-packet-header
